h2 {
    color: #424769;
    font-size: 30px;
    margin-left: 80px;
}

h3{
    margin-left: 80px;   
}

input {
    border-radius: 10px;
    height: 26px;
    background-color: #8085A8;
    border: 0;
}
 

.container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.display{
    display: flex;
    margin-left: 100px;
}

.geral{
    margin-left: 200px;
}

.final{
    margin-left: 200px;
}

.button_cal {
    font-family: "League Spartan", sans-serif;
    margin-top: 12px;
    background: linear-gradient(90deg, #F9B17A 0%, #8085A8 100%);
    border: none;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px auto;
    display: block;
    border-radius: 90px;
    height: 52px;
    width: 267px;
    font-size: 20px;
}

.resultado{
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
}