.ribbon {
    width: 100%;
    height: 15px;
    background: linear-gradient(90deg, #F9B17A 0%, #8085A8 100%);
}

.primeira_div {
    background-color: #424769;
    padding-left: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 68px;
}

.bem_vindo {
    color: #AAB0D6;
    font-size: 60px;
    width: 35%;
    margin: 0;
}

.paragrafo_primeira_div {
    color: #EBEBEB;
    width: 35%;
    font-size: 20px;
    font-weight: lighter;
}

.segunda_div {
    background-color: #F5F5F5;
    padding-top: 15px;
}

h2 {
    color: #424769; 
    text-align: center;   
    font-size: 60px;
    margin: 0;
}

.paragrafo_segunda_div {
    color: #5A5A5A;
    text-align: center;
    width: 25%;
    margin: 15px auto;
    font-size: 22px;
}

.test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.imagem_com_btn {
    flex: 1 1 20%;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.btn_imagem {
    margin-top: 10px;
    background: linear-gradient(90deg, #F9B17A 0%, #8085A8 100%);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px auto;
    display: block;
    border-radius: 20px;
    height: 45px;
    width: 175px;
    font-size: 20px;
}

.btn_imagem:hover {
    opacity: 0.9;
}

img {
    max-width: 90%;
    height: auto;
    display: block;
    border-radius: 10px;
}