.container_nome {
    margin-left: 35px;
    margin-right: 0;
}

.titulo_pequeno {
    font-size: 18px;
    margin: 0;
    margin-left: 15px; 
    color: #8085A8;
}

.input_grande {
    width: 450px;
    height: 30px;
    border-radius: 100px;
    border-color: #424769;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.container_cpf {
    margin-left: 650px;
    margin-top: -57px;
    margin-right: 0;
}

.container_data { 
    margin-left: 35px;
    margin-top: 30px;
    margin-right: 0;
}

.container_cargo {
    margin-left: 650px;
    margin-top: -55px;
    margin-right: 0;
}

.select_grande {
    width: 474px;
    height: 34px;
    border-radius: 100px;
    border-color: #424769;
    font-size: 18px;
    padding-left: 10px;
    border-width: 2px;
}

.container_salario {
    margin-left: 35px;
    margin-top: 31px;
    margin-right: 0;
}

.container_senha {
    margin-left: 650px;
    margin-top: -57px;
    margin-right: 0;
}

.btn_cadastrar {
    margin-top: 75px;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #F9B17A 0%, #8085A8 100%);
    border-radius: 100px;
    width: 300px;
    height: 34px;
    border: none;
    font-size: 18px;
    color:#F5F5F5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
