.container_nome {
    margin-left: 35px;
    margin-right: 0;
}

.titulo_pequeno {
    font-size: 18px;
    margin: 0;
    margin-left: 15px; 
    color: #8085A8;
}

.input_grande {
    width: 450px;
    height: 30px;
    border-radius: 100px;
    border-color: #424769;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.container_cpf {
    margin-left: 600px;
    margin-top: -57px;
    margin-right: 0;
}

.container_data { 
    margin-left: 35px;
    margin-top: 30px;
    margin-right: 0;
}

.container_cargo {
    margin-left: 600px;
    margin-top: -55px;
    margin-right: 0;
}

.select_grande {
    width: 474px;
    height: 34px;
    border-radius: 100px;
    border-color: #424769;
    font-size: 18px;
    padding-left: 10px;
    border-width: 2px;
}

.container_salario {
    margin-left: 35px;
    margin-top: 31px;
    margin-right: 0;
}

.container_senha {
    margin-left: 600px;
    margin-top: -57px;
    margin-right: 0;
}

.btn_cadastrar {
    margin-top: 75px;
    margin-bottom: 50px;
    background: linear-gradient(90deg, #F9B17A 0%, #8085A8 100%);
    border-radius: 100px;
    width: 300px;
    height: 34px;
    border: none;
    font-size: 18px;
    color:#F5F5F5;
}

.forms_cadastro {
    height: 530px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #8085A8; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: none;
}

#popup.visible {
    display: block;
    background-color: #F5F5F5;
    text-align: center;
}

#popup h2 {
    margin-top: 50px; 
    font-size: 40px;
    font-weight: bold;
    color: #424769;
    text-align: center;
}

#popup p {
    font-size: 30px;
    color: #424769;
    font-weight: bold;
}

#btnFecharPopup {
    background: linear-gradient(90deg, #F9B17A 0%, #8085A8 100%);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    border-radius: 40px;
    width: 190px;
    font-size: 28px;
    margin: auto;
    margin-top: 20px;
}

#btnFecharPopup:hover {
    background-color: #0056b3;
}